{{ template "chart.header" . }}

{{ template "chart.deprecationWarning" . }}

{{ template "chart.badgesSection" . }}

{{ template "chart.description" . }}

{{ template "chart.homepageLine" . }}

{{ template "chart.maintainersSection" . }}

{{ template "chart.sourcesSection" . }}

## Installing

To install the Helm chart with the release name *my-release*:

```shell
helm install my-release \
--set 'global.imagePullSecrets[0].name'=my-pull-secrets \
--set 'persistence.storageClass'=my-storage-class \
--set 'ingress.host'=my-host \
oci://dp.apps.rancher.io/charts/open-webui
```

{{ template "chart.requirementsSection" . }}

{{ template "chart.valuesSection" . }}

----------------------------------------------
TLS sources:

There are three recommended options for the source of the certificate:

- **Self-Signed (suse-private-ai) TLS certificate:** This is the default option. In this case, you will need to install cert-manager into the cluster. suse-private-ai utilizes cert-manager to issue and maintain its certificates. suse-private-ai will generate a CA certificate of its own, and sign a cert using that CA. cert-manager is then responsible for managing that certificate.

- **Let's Encrypt (letsEncrypt):** The Let's Encrypt option also uses cert-manager. However, in this case, cert-manager is combined with a special Issuer for Let's Encrypt that performs all actions (including request and validation) necessary for getting a Let's Encrypt issued cert. This configuration uses HTTP validation (HTTP-01), so the load balancer must have a public DNS record and be accessible from the internet.

- **Bring your own certificate:** This option allows you to bring your own signed certificate. suse-private-ai will use that certificate to secure HTTPS traffic. In this case, you must upload this certificate (and associated key) as PEM-encoded files with the name tls.crt and tls.key.

| Configuration                  | Helm Chart Option           | Requires cert-manager                 |
| ------------------------------ | ----------------------- | ------------------------------------- |
| Self-Signed (suse-private-ai) Generated Certificates (Default) | `global.tls.source=suse-private-ai`  | yes |
| Let’s Encrypt                  | `global.tls.source=letsEncrypt`  | yes |
| Certificates from Files        | `global.tls.source=secret`        | no |


Integration with Milvus DB:

```console
helm install my-release \
--set 'global.imagePullSecrets[0].name'=my-pull-secrets \
--set 'persistence.storageClass'=my-storage-class \
--set 'ingress.host'=my-host \
--set 'extraEnvVars[0].name=VECTOR_DB' --set 'extraEnvVars[0].value=milvus' \
--set 'extraEnvVars[1].name=MILVUS_URI' --set-string 'extraEnvVars[1].value=http://<my-milvusuri>' \
oci://dp.apps.rancher.io/charts/open-webui
```
Autogenerated from chart metadata using [helm-docs](https://github.com/norwoodj/helm-docs/).
